html {
    overflow: scroll;
  }
  
  body {
    background: #17252a;
    font-family: Montserrat;
  }
  
  .navbar {
    animation: fadeInDown 1s;
    box-shadow: 0 2px 4px 0 #17252a;
    background: linear-gradient(to right, #20525c, #20525c);
  }
  
  .navbar a {
    color: #66fcf1;
  }
  
  .container {
    animation: slideInLeft 1s;
    padding-top: 5rem;
  }
  
  .a {
    color: #66fcf1;
  }
  
  .a:hover {
    color: #66fcf1;
    background-color: #66fcf1;
  }
  
  .jumbotron {
    background-color: #20525c;
    color: #66fcf1;
    padding: 4rem 2rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    box-shadow: -1rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
  }
  
  .jumbotron h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .jumbotron p {
    font-size: 1rem;
  }

  .jumbotron a {
    color: #66fcf1;
    text-decoration: none;
  }
  
  
  .last {
    margin-bottom: 3rem;
  }
  
  .btn {
    padding: 1rem 2rem;
    color: #17252a;
    background-color: #66fcf1;
  }

  .btn :hover{
    color: #17252a;
    background-color: #66fcf1;
  }
  
  .ftr {
    background-color: #20525c;
    color: #66fcf1;
    padding: 0.5rem;
  }
  
  @font-face {
    font-family: Montserrat;
    src: url('Montserrat.woff2');
    font-display: swap;
  }
  